{% extends "base.html" %}
{% load static %}

{% block content %}
    {% for product in products %}
        {{ product.name }},
        price: {{ product.price }} uah/kg,
        quantity: {{ product.quantity }} kg.
        {{ product.description|truncatewords:"10" }}
    {% if user.is_authenticated %}
        {% if user.is_staff%}
            <p><a href="{% url 'edit_product' product.id %}" class="btn btn-warning">Edit</a></p>
        {% else %}
            <form action="" method="post">
                {% csrf_token %}
                    <label>Amount:</label>
                    <input type="number" name="amount" value="0">
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                    <input type="submit" value="Buy">
            </form>
        {% endif %}
    {% endif %}
    <br>
    {% endfor %}
{% endblock %}

